body{
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: gotham rounded,sans-serif;
    outline: none;
}

a:link, a:active, a:visited, a:focus{
    color: rgba(51, 119, 204, 1);
}

a:hover{
    color: rgba(61, 143, 245, 1);
}

.title{
    font-family: 'Josefin Sans', gotham rounded, sans-serif;
}

.vertical_alignment{
    padding: 80px 0;
}

.horizontal_alignment{
    max-width: 1056px;
    margin: 0 auto;
    padding: 0;
}

.content_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing_section{
    background-color: #333;
}

.sub_section_spacing{
    margin-bottom: 35px;
}

.landing_section .vertical_alignment{
    background-color: transparent;
    background-image: url("IMG_0201.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 424px;
    padding-bottom: 424px;
}

.default_animation{
    opacity: 0;
    transform: translateY(-1em);
    transition: transform 0.5s .1s cubic-bezier(0, 0, 1, 1), opacity 0.5s .1s ease-out;
}

.default_animation.is-visible{
    transform: translateY(0em);
    opacity: 1;

}

.text_background{
    background-color: rgba(0,0,0,.8);
    border-radius: 10px;
    padding: 10px;

    opacity: 0;
    transform: translateY(-1em);
    transition: transform 0.5s .1s cubic-bezier(0, 0, 1, 1), opacity 0.5s .1s ease-out;
}

.text_background.is-visible{
    transform: translateY(0em);
    opacity: 1;
}

.landing_section .subtitle{
    opacity: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 175%;
    font-family: arapey,sans-serif;
    font-style: italic;
    line-height: 1.45;
    margin-bottom: 10px;
}

.landing_section .title{
    list-style: none;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-size: 375%;
    font-weight: 700;
    line-height: 1.2;
}

.about_section{
    background-color: rgba(10,25,47,1);
}

.about_section .text_container .title{
    color: rgba(230,241,255, 1);

}

.about_section .text_container .content{
    color: rgba(159,169,199, 1);
    /* text-shadow: 2px 2px ; */
}

.projects_section .title{
    list-style: none;
    text-align: center;
    color: #333;
    text-transform: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-size: 225%;
    font-weight: 700;
    line-height: 1.2;
}

.project_content_container_ltr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 3s .25s cubic-bezier(0, 1, .3, 1), opacity .5s .1s ease-out;
}

.project_content_container_rtl{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    opacity: 0;
    transform: translateY(4em) rotateZ(5deg);
    transition: transform 3s .25s cubic-bezier(0, 1, .3, 1), opacity .5s .1s ease-out;
}

.project_content_container_ltr.is-visible {
    opacity: 1;
    transform: translateY(0em) rotateZ(0deg);
}

.project_content_container_rtl.is-visible {
    opacity: 1;
    transform: translateY(0em) rotateZ(0deg);
}

.thumbnail_container{
    margin-left: 14px;
    margin-right: 14px;
    max-width: 302px;
}

.thumbnail{
    max-width: 302px;
    border-radius: 25px;
}

.text_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    max-width: 566px;
}

.text_container .title{
    font-size: 150%;
    font-family: inherit;
    text-decoration: none;
    color: #37c;
    line-height: 1.45;

    margin-bottom: 5px;
}

.text_container .subtitle{
    color: #50555c;
    font-style: normal;
    font-size: 100%;
    font-family: roboto, helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.45;

    margin-bottom: 20px;
}

.text_container .content{
    color: #50555c;
    font-size: 100%;
    line-height: 1.45;
}

.system_section{
    background-color: rgba(232, 89, 94, 1);
}

.system_section .sub_section_spacing{
    margin: 0;
}

.system_section .text_container{
    align-items: center;
    text-align: center
}

.system_section .text_container .title{
    color: rgba(230,241,255, 1);
    text-decoration: none;
    
    font-size: 32px;
    font-family: 'Josefin Sans', gotham rounded, sans-serif;
}

.system_section .text_container a{
    color: rgba(230,241,255, 1);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto Condensed', gotham rounded, sans-serif;
}

.system_section .text_container a:hover{
    text-decoration: underline;
}



.contact_section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #eee;
}

.contact_section .title{
    color: #333;
    font-size: 225%;
    font-weight: 700;
    line-height: 1.2;
}

.contact_section .subtitle{
    text-align: center;
    color: #678;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-family: inherit;
    line-height: 1.45;
    font-size: 130%;
}

.icons_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 110px;

    margin-left: 20px;
    margin-right: 20px;
}

.icon:hover {
    transform: scale(1.2);
}